.sk-search-loader {
  display: inline-block;
  position: relative;
  background-color: #fefefe2b;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
}
.sk-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.9);
  z-index: 1001;
  transition: all .5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translate(0,-100%) scale(0,0);
}
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .sk-layout {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
.sk-layout.is-active {
  opacity: 0.95;
  visibility: visible;
  transform: translate(0,0) scale(1,1);
}
.sk-layout__wrapper {
  position: relative;
  max-width: 1280px;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  height: 100%;
}
.sk-layout__close {
  position: fixed;
  top: 29px;
  right: 3.5%;
  color: orangered;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1002;
}
.sk-layout__top-bar {
  position: relative;
  margin: auto;
  background: transparent;
  height: 100px;
}
.sk-layout__top-bar.is-focused {
  background: transparent !important;
}
.sk-layout__body {
  margin: auto;
  min-width: revert;
}
.sk-layout__footer {
  padding: 1px;
  height: 20px;
  font-size: 12px;
  text-align: right;
  overflow: hidden;
}
.sk-layout__results {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  height: calc(100vh - 192px);
  min-height: revert;
}
.sk-layout__filters, .sk-layout__results {
  background: transparent;
  overflow: scroll;
}
@media screen and (max-width: 800px) { .sk-layout__body .sk-layout__filters { display: none; } }
.sk-search-box {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  background: transparent;
  border-bottom: orangered 1px dashed;
}
.sk-search-box.is-focused {
  background: transparent;
}
.sk-search-box.is-focused input.sk-search-box__text {
  color: orangered;
}
.sk-search-box input.sk-search-box__text {
  text-align: center;
  font-size: 30px;
  color: orangered;
  padding: 0;
}
.sk-search-box__icon {
  visibility: hidden;
  margin: 0;
  width: 0;
  height: 0;
}
.sk-panel {
  padding-right: 15px;
  border-right: #fefefe2b 1px solid;
}
.sk-panel__header {
  color: revert;
}
.sk-item-list-option.is-active .sk-item-list-option__text,
.sk-item-list-option.is-selected .sk-item-list-option__text {
  color: revert;
}
.sk-hits-hit {
  padding-bottom: 15px;
  color: #bbb;
}
.sk-hits-hit__title em {
  font-style: normal;
  font-weight: bold;
}
.sk-hits-hit__highlights em {
  font-style: normal;
  color: orangered;
}
.sk-hits-stats {
  font-style: italic;
  text-align: center;
}
.sk-pagination-navigation.is-numbered {
  width: revert;
}
.sk-toggle-option {
  background: transparent;
  border: 0 !important;
  color: revert;
}
.sk-toggle-option.is-active {
  background-color: #fefefe2b;
}
